body {
    color: #FBA706;
    background-color: black;
}
section {
    padding-bottom: 40px;
}

a.list-group-item {
    background-color: black;
    color: white;
    border: 1px solid #FBA706;
}

a.list-group-item:hover {
    background-color: #FBA706;
    color: black;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}