$phone: 768px;

.macos-window {
  background-color: white;
  border: 2px solid #000;
  width: 500px; /* Adjust width as needed */
  margin: 20px 0;
  box-shadow: 2px 2px 0 #000;
  z-index: 1000;

  @media (max-width: 1000px) {
    width: 350px;
  }

  @media (max-width: $phone) {
    width: 100%;
    margin: 20px auto; /* Center window */
  }

  .macos-title-bar {
    background-color: #efeef5;
    min-height: 30px;
    max-height: 30px;
    border-left: 2px solid #d4d7e2;
    border-top: 2px solid #d4d7e2;
    border-right: 2px solid #b0afc3;
    border-bottom: 2px solid #b0afc3;

    &.mono {
      background-color: white;
      border: 2px solid white;
    }

    .macos-title-bar-lines {
      margin: 4px 0;
      position: relative;

      .macos-title-bar-line {
        min-height: 2px;
        width: 100%;
        background-color: #a7a7a5;
        margin-top: 2px;

        &.mono {
          background-color: black;
        }
      }

      .macos-close {
        position: absolute;
        top: 0;
        left: 14px;
        padding: 0 2px;
        background-color: #efeef5;

        .bubble {
          top: -160px;
          left: -27px;
        }

        .macos-close-border {
          min-width: 18px;
          min-height: 18px;
          max-width: 18px;
          max-height: 18px;
          border-left: 2px solid #3e3e5b;
          border-top: 2px solid #3e3e5b;
          border-right: 2px solid #d6d4e9;
          border-bottom: 2px solid #d6d4e9;

          &.mono {
            border: 2px solid black;
            background-color: white;
          }

          .macos-close-inner {
            min-width: 14px;
            min-height: 14px;
            max-width: 14px;
            max-height: 14px;
            border-right: 2px solid #3e3e5b;
            border-bottom: 2px solid #3e3e5b;
            border-left: 2px solid #d6d4e9;
            border-top: 2px solid #d6d4e9;
            background-color: #afadaf;

            &.mono {
              background-color: white;
              border: 2px solid white;
            }

            &:active {
              border: 2px solid black;
              background-color: #9d9dbe;
              max-width: 18px;
              max-height: 18px;
              min-width: 18px;
              min-height: 18px;
              margin-left: -2px;
              margin-top: -2px;

              &.mono {
                background-color: white;
              }
            }
          }
        }
      }

      .macos-title {
        color: black;
        font-family: "chicago", sans-serif;
        font-size: 16px;
        line-height: 18px;
        padding: 2px 14px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #efeef5;
        white-space: nowrap;

        &.mono {
          background-color: white;
        }
      }
    }
  }

  .macos-content {
    padding: 20px 20px 20px 20px;
    margin: 0;
    border-top: 2px solid black;
    font-family: "geneva", sans-serif;
    font-size: 24px;
    color: #000;
    word-spacing: -0.55rem;
    text-align: left;

    pre {
      font-family: "geneva", sans-serif;
      font-size: 24px;
      color: #000;
      word-spacing: -0.55rem;
      text-align: left;
    }

    .email-container {
      position: relative;
      display: flex;
      margin-bottom: 20px;
      align-items: center;

      .bubble {
        top: -161px;
        right: -72px;
      }

      span {
        margin-right: 20px;
      }

      input {
        border: 2px solid black;
        flex: 1;
        height: 24px;
        font-size: 24px;
        font-family: "geneva", sans-serif;
        word-spacing: -0.55rem;
        border-radius: 0;

        &:focus-within,
        &:focus-visible {
          outline-color: black;
        }
      }
    }
    .message-container {
      position: relative;

      .bubble {
        top: -56px;
        right: -14px;
      }

      textarea {
        width: calc(100% - 10px);
        height: 300px;
        resize: none;
        font-size: 24px;
        border: 2px solid black;
        font-family: "geneva", sans-serif;
        word-spacing: -0.55rem;
        padding: 3px;
        border-radius: 0;

        &:focus-within,
        &:focus-visible {
          outline-color: black;
        }
      }
    }

    .button-container {
      display: flex;
      align-items: center;

      .spacer {
        flex: 1;
      }

      .button-border {
        background-color: black;
        padding: 2px;
        clip-path: polygon(
          0px calc(100% - 6px),
          2px calc(100% - 6px),
          2px calc(100% - 4px),
          4px calc(100% - 2px),
          6px calc(100% - 2px),
          6px 100%,
          calc(100% - 6px) 100%,
          calc(100% - 6px) calc(100% - 2px),
          calc(100% - 4px) calc(100% - 2px),
          calc(100% - 2px) calc(100% - 4px),
          calc(100% - 2px) calc(100% - 6px),
          100% calc(100% - 6px),
          100% 6px,
          calc(100% - 2px) 6px,
          calc(100% - 2px) 4px,
          calc(100% - 4px) 2px,
          calc(100% - 6px) 2px,
          calc(100% - 6px) 0px,
          6px 0px,
          6px 2px,
          4px 2px,
          2px 4px,
          2px 6px,
          0px 6px
        );
      }

      button {
        background-color: white;
        border: none;
        padding: 8px 40px;
        font-family: "chicago", sans-serif;
        font-size: 16px;
        line-height: 16px;
        color: black;
        clip-path: polygon(
          0px calc(100% - 4px),
          2px calc(100% - 4px),
          2px calc(100% - 2px),
          4px calc(100% - 2px),
          4px 100%,
          calc(100% - 4px) 100%,
          calc(100% - 4px) calc(100% - 2px),
          calc(100% - 2px) calc(100% - 2px),
          calc(100% - 2px) calc(100% - 4px),
          100% calc(100% - 4px),
          100% 4px,
          calc(100% - 2px) 4px,
          calc(100% - 2px) 2px,
          calc(100% - 4px) 2px,
          calc(100% - 4px) 0px,
          4px 0px,
          4px 2px,
          2px 2px,
          2px 4px,
          0px 4px
        );

        &:active {
          color: white;
          background-color: black;
        }
      }

      .default-border-outer {
        margin-left: 20px;
        background-color: black;
        padding: 6px;
        clip-path: polygon(
          0px calc(100% - 10px),
          2px calc(100% - 10px),
          2px calc(100% - 6px),
          4px calc(100% - 6px),
          4px calc(100% - 4px),
          6px calc(100% - 4px),
          6px calc(100% - 2px),
          10px calc(100% - 2px),
          10px 100%,
          calc(100% - 10px) 100%,
          calc(100% - 10px) calc(100% - 2px),
          calc(100% - 6px) calc(100% - 2px),
          calc(100% - 6px) calc(100% - 4px),
          calc(100% - 4px) calc(100% - 4px),
          calc(100% - 4px) calc(100% - 6px),
          calc(100% - 2px) calc(100% - 6px),
          calc(100% - 2px) calc(100% - 10px),
          100% calc(100% - 10px),
          100% 10px,
          calc(100% - 2px) 10px,
          calc(100% - 2px) 6px,
          calc(100% - 4px) 6px,
          calc(100% - 4px) 4px,
          calc(100% - 6px) 4px,
          calc(100% - 6px) 2px,
          calc(100% - 10px) 2px,
          calc(100% - 10px) 0px,
          10px 0px,
          10px 2px,
          6px 2px,
          6px 4px,
          4px 4px,
          4px 6px,
          2px 6px,
          2px 10px,
          0px 10px
        );

        .default-border-inner {
          background-color: white;
          padding: 2px;

          clip-path: polygon(
            0px calc(100% - 6px),
            2px calc(100% - 6px),
            2px calc(100% - 4px),
            4px calc(100% - 2px),
            6px calc(100% - 2px),
            6px 100%,
            calc(100% - 6px) 100%,
            calc(100% - 6px) calc(100% - 2px),
            calc(100% - 4px) calc(100% - 2px),
            calc(100% - 2px) calc(100% - 4px),
            calc(100% - 2px) calc(100% - 6px),
            100% calc(100% - 6px),
            100% 6px,
            calc(100% - 2px) 6px,
            calc(100% - 2px) 4px,
            calc(100% - 4px) 2px,
            calc(100% - 6px) 2px,
            calc(100% - 6px) 0px,
            6px 0px,
            6px 2px,
            4px 2px,
            2px 4px,
            2px 6px,
            0px 6px
          );
        }
      }
    }
  }

  .bubble {
    position: absolute;
    width: 300px;
    text-align: center;
    line-height: 1.4em;
    margin: 40px auto;
    background-color: #fff;
    border: 8px solid black;
    border-radius: 30px;
    padding: 20px;
    font-size: large;
    color: black;
    font-family: "geneva", sans-serif;
    font-size: 24px;
    word-spacing: -0.55rem;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
    }

    &.speech {
      &:before {
        left: 30px;
        bottom: -50px;
        border: 25px solid;
        border-color: black transparent transparent black;
      }

      &:after {
        left: 38px;
        bottom: -30px;
        border: 15px solid;
        border-color: #fff transparent transparent #fff;
      }
    }
  }
}
