<div class="container">
  <div class="content">
    <img src="/assets/gutbombicon.png" alt="Gutbomb Icon" class="icon" *ngIf="!mono">
    <img src="/assets/gutbombiconmono.png" alt="Gutbomb Icon" class="icon" *ngIf="mono" [ngClass]="mono ? 'mono' : ''">
    <h1>GutBomb</h1>
    <div class="mono-toggle-container" [ngClass]="mono ? 'mono' : ''">
      <div class="switchbutton monobutton" (click)="toggleMono()" [ngClass]="mono ? 'mono' : ''">Monochrome</div>
      <div class="switchbutton colorbutton" (click)="toggleMono()" [ngClass]="mono ? 'mono' : ''">Color</div>
    </div>
    <social-icons [mono]="mono"></social-icons>
    <macos-window [mono]="mono"></macos-window>
  </div>
</div>
