/* Reset default margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* Set background color and font family */
body {
  font-family: 'chicago', sans-serif;
  color: black;
}

/* Webfont Definition */
@font-face {
  font-family: 'chicago';
  src: url('pixChicago.woff') format('woff');
  src: url('pixChicago.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'geneva';
  src: url('Geneva-9.woff') format('woff');
  src: url('Geneva-9.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.header {
  display: flex;
  width: 100%;
}

.header .macos-window {
  margin-left: 20px;
  margin-right: 4px;
  width: initial;
  flex: 1;
  z-index: 1000;
  margin-top: -10px;
}
h1 {
  font-size: 40px;
  white-space: nowrap;
  margin-top: -10px;
}

/* Main container */
.container {
  position: relative;
  padding: 20px;
}

.main-body {
  display: flex;
}

.macos-window.experience {
  width: 100%;
  margin-top: -112px;
  margin-right: 10px;
}

.macos-window.experience .macos-title {
  transform: initial;
  left: 133px;
}

.macos-window.experience .job-listing {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: initial;
  font-size: 0.9rem;
}

.macos-window.experience .job-listing .job-title {
  font-weight: bold;
  font-size: 1.125rem;
}

.macos-window.experience .job-listing .location {
  font-style: italic;
}

.macos-window.experience .job-listing .tasks {
  margin-top: 1px;
  margin-bottom: 10px;
}

.macos-window.skills {
  position: absolute;
  bottom: 1px;
  right: 10px;
  width: 40%;
}

.macos-window.skills .macos-content, .header .macos-window .macos-content {
  padding: 15px 20px;
}

/* Social Media Icons */
.social-icons {
  list-style: none;
  padding: 0;
}

/* Additional CSS for icon wrapper */
.icon-wrapper {
  width: 25px;
  text-align: center;
  margin: 0;
  display: inline-block;
}

/* Adjust text alignment */
.social-icons li a {
  display: inline-block;
  vertical-align: middle;
  color: white;
  text-decoration: none;
}

.social-icons li a:hover {
  color: rgb(185, 181, 171);
}

/* Icon */
.icon {
  width: 600px; /* Adjust the size of the image as needed */
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 30px; /* Add margin to the bottom */
  margin-right: 30px; /* Add margin to the right */
  z-index: 1; /* Ensure the image is above other content */
}

/* Hover effect */
.macos-button:hover {
  background-color: #a0a0a0;
}

/* Mac OS Window Styles */
.macos-window {
  background-color: white;
  border: 2px solid #000;
  width: 500px; /* Adjust width as needed */
  margin: 20px 0;
  box-shadow: 2px 2px 0 #000;
}

.macos-title-bar {
  background-color: #EFEEF5;
  min-height: 30px;
  max-height: 30px;
  border-left: 2px solid #D4D7E2;
  border-top: 2px solid #D4D7E2;
  border-right: 2px solid #B0AFC3;
  border-bottom: 2px solid #B0AFC3;
}

.macos-title {
  color: black;
  font-family: 'chicago', sans-serif;
  font-size: 16px;
  /* line-height: 10px; */
  padding: 0 14px;
  position: absolute;
  top: -3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #EFEEF5;  
  white-space: nowrap;
  height: 26px;
}

.macos-title-bar-lines {
  margin: 4px 0;
  position: relative;
}

.macos-title-bar-line {
  min-height: 2px;
  width: 100%;
  background-color: #A7A7A5;
  margin-top: 2px;
}

.macos-close {
  position: absolute;
  top: 0;
  left: 14px;
  padding: 0 2px;
  background-color: #EFEEF5;
}

.macos-close-border {
  min-width: 18px;
  min-height: 18px;
  max-width: 18px;
  max-height: 18px;
  border-left: 2px solid #3E3E5B;
  border-top: 2px solid #3E3E5B;
  border-right: 2px solid #D6D4E9;
  border-bottom: 2px solid #D6D4E9;
}

.macos-close-inner {
  min-width: 14px;
  min-height: 14px;
  max-width: 14px;
  max-height: 14px;
  border-right: 2px solid #3E3E5B;
  border-bottom: 2px solid #3E3E5B;
  border-left: 2px solid #D6D4E9;
  border-top: 2px solid #D6D4E9;
  background-color: #AFADAF;
}

.macos-close-inner:active {
  border: 2px solid black;
  background-color: #9d9dbe;
  max-width: 18px;
  max-height: 18px;
  min-width: 18px;
  min-height: 18px;
  margin-left: -2px;
  margin-top: -2px;
}

.macos-content {
  padding: 20px 20px 20px 20px;
  margin: 0;
  border-top: 2px solid black;
}

.macos-content textarea {
  width: calc(100% - 8px);
  height: 300px;
  resize: none;
  border: 2px solid black;
}

.macos-content .contact-container {
  display: flex;
  align-items: center;
}

.macos-content .contact-container i {
  margin: 5px 15px 5px 0;
  width: 20px;
  text-align: center;
}

.macos-content .contact-container a {
  font-size: 32px;
  color: black;
  text-decoration: none;
}

.macos-content .email-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.macos-content .email-container span {
  margin-right: 20px;
}

.macos-content .email-container input {
  border: 2px solid black;
  flex: 1;
  height: 24px;
}

.macos-content, .macos-content .email-container input, .macos-content textarea {
  font-family: 'geneva', sans-serif;
  font-size: 24px;
  color: #000;
  word-spacing: -0.55rem;
}

.macos-content .email-container input:focus-within, .macos-content textarea:focus-within, .macos-content .email-container input:focus-visible, .macos-content textarea:focus-visible {
  outline-color: black;
  border-radius: 0;
}

.macos-content .button-container {
  display: flex;
  align-items: center;
}

.macos-content .button-container .spacer {
  flex: 1;
}

.macos-content .button-container .button-border {
  background-color: black;
  padding: 2px;
  clip-path: polygon(
    0px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 4px),
    4px calc(100% - 2px),
    6px calc(100% - 2px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 2px,
    4px 2px,
    2px 4px,
    2px 6px,
    0px 6px
  );
}

.macos-content .button-container .button-border button {
  background-color: white;
  border: none;
  padding: 8px 40px;
  font-family: 'chicago', sans-serif;
  font-size: 16px;
  line-height: 16px;
  clip-path: polygon(
    0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px
  );
}

.macos-content .button-container .button-border button:active {
  color: white;
  background-color: black;
}

.macos-content .button-container .default-border-outer {
  margin-left: 20px;
  background-color: black;
  padding: 6px;
  clip-path: polygon(
    0px calc(100% - 10px),
    2px calc(100% - 10px),
    2px calc(100% - 6px),
    4px calc(100% - 6px),
    4px calc(100% - 4px),
    6px calc(100% - 4px),
    6px calc(100% - 2px),
    10px calc(100% - 2px),
    10px 100%,
    calc(100% - 10px) 100%,
    calc(100% - 10px) calc(100% - 2px),
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 6px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 6px),
    calc(100% - 2px) calc(100% - 6px),
    calc(100% - 2px) calc(100% - 10px),
    100% calc(100% - 10px),
    100% 10px,
    calc(100% - 2px) 10px,
    calc(100% - 2px) 6px,
    calc(100% - 4px) 6px,
    calc(100% - 4px) 4px,
    calc(100% - 6px) 4px,
    calc(100% - 6px) 2px,
    calc(100% - 10px) 2px,
    calc(100% - 10px) 0px,
    10px 0px,
    10px 2px,
    6px 2px,
    6px 4px,
    4px 4px,
    4px 6px,
    2px 6px,
    2px 10px,
    0px 10px
  );
}

.macos-content .button-container .default-border-outer .default-border-inner {
  background-color: white;
  padding: 2px;

  clip-path: polygon(
    0px calc(100% - 6px),
    2px calc(100% - 6px),
    2px calc(100% - 4px),
    4px calc(100% - 2px),
    6px calc(100% - 2px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 2px) 6px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 6px) 2px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 2px,
    4px 2px,
    2px 4px,
    2px 6px,
    0px 6px
  );
}

.source-link {
  font-family: 'geneva';
  word-spacing: -0.55rem;
  font-size: 1.25rem;
}

/* Media query for mobile devices */
@media (max-width: 1200px) {
  .icon {
    width: 400px;
  }
}

@media (max-width: 1000px) {
  .macos-window {
    width: 350px;
  }
}

@media screen and (max-width: 830px) {
  .container {
    padding: 20px;
  }

  h1 {
    text-align: center; /* Center the h1 on mobile */
  }

  .icon {
    width: 150px; /* Adjust the width as needed */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the image on mobile */
    margin-top: 20px;
    right: 0;
    bottom: auto;
  }

  .content {
    padding-top: 150px; /* Adjust the top padding to create space below the image */
  }

  .header {
    display: block;
  }

  .macos-window.skills, .header .macos-window {
    position: initial;
    width: 100%;
    margin: 20px auto;
  }

  .macos-window.experience {
    margin-top: initial;
  }

  .macos-window.experience .macos-title {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media print {
  .container {
    padding: 20px;
  }

  h1 {
    text-align: center; /* Center the h1 on mobile */
  }

  .icon {
    width: 150px; /* Adjust the width as needed */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Center the image on mobile */
    margin-top: 20px;
    right: 0;
    bottom: auto;
  }

  .content {
    padding-top: 150px; /* Adjust the top padding to create space below the image */
  }

  .macos-window {
    width: 100%;
  }

  .macos-window.skills {
    margin: 0;
    bottom: 8px;
  }

  .macos-window.experience {
    margin-bottom: 0;
  }

  .source-link {
    display: none;
    margin: 0;
  }
}
