<div class="macos-window">
  <div class="macos-title-bar" [ngClass]="mono ? 'mono' : ''">
    <div class="macos-title-bar-lines">
      <div *ngFor="let number of [].constructor(6)" class="macos-title-bar-line" [ngClass]="mono ? 'mono' : ''"></div>
      <div class="macos-close">
        <div class="bubble speech" *ngIf="displayCloseBubble">
          {{closeBubbleText}}
        </div>
        <div class="macos-close-border" [ngClass]="mono ? 'mono' : ''">
          <div class="macos-close-inner" (mousedown)="closeDown()" (mouseup)="closeUp()" [ngClass]="mono ? 'mono' : ''"></div>
        </div>
      </div>
      <div class="macos-title" [ngClass]="mono ? 'mono' : ''">{{windowTitle}}</div>
    </div>
  </div>
  <div class="macos-content" *ngIf="!messageSent">
    If you would like to contact me, please send me a message in the box below.<br><br>
    <form #f="ngForm" (ngSubmit)="send(f)">
      <div class="email-container"><div class="bubble speech" *ngIf="displayEmailBubble">
        {{emailBubbleText}}
      </div>
      <span>Your Email Address:</span><input type="email" name="emailAddress" (input)="displayEmailBubble=false" [(ngModel)]="emailAddress" #email="ngModel" required email></div>
      <div class="message-container">
        <div class="bubble speech" *ngIf="displayMessageBubble">
          {{messageBubbleText}}
        </div>
        <textarea name="message" [(ngModel)]="message" (input)="displayMessageBubble=false" required></textarea><br><br>
      </div>

      <div class="button-container">
        <div class="spacer"></div>
        <div class="button-border">
          <button type="button" (click)="clear()">Clear</button>
        </div>
        <div class="default-border-outer">
          <div class="default-border-inner">
            <div class="button-border">
              <button>Send</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="macos-content" *ngIf="messageSent">
    <span *ngIf="!error">Your message has been sent.</span>
    <span *ngIf="error">Your message was not sent because the following error occurred:<br><br>{{error}}</span>
    <br><br>
    <div class="button-container">
      <div class="spacer"></div>
      <div class="default-border-outer">
        <div class="default-border-inner">
          <div class="button-border">
            <button (click)="clear()"><span *ngIf="!error">Send Another?</span><span *ngIf="error">Try Again?</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
