<div class="macos-window">
  <div class="macos-title-bar">
    <div class="macos-title-bar-lines">
      <div class="macos-title-bar-line"></div>
      <div class="macos-title-bar-line"></div>
      <div class="macos-title-bar-line"></div>
      <div class="macos-title-bar-line"></div>
      <div class="macos-title-bar-line"></div>
      <div class="macos-title-bar-line"></div>
      <div class="macos-close"><div class="macos-close-border"><div class="macos-close-inner"></div></div></div>
      <div class="macos-title">Contact Me</div>
    </div>
  </div>
  <div class="macos-content">
    If you would like to contact me, please send me a message in the box below.<br><br>
    <div class="email-container"><span>Your Email Address:</span><input type="email"></div>
    <textarea></textarea><br><br>
    <div class="button-container">
      <div class="spacer"></div>
      <div class="button-border">
        <button>Clear</button>
      </div>
      <div class="default-border-outer">
        <div class="default-border-inner">
          <div class="button-border">
            <button>Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
